@using EventFlowAPI.DB.Entities
@using EventFlowAPI.Logic.Helpers
<html>
<body>
    <div style="margin-top:20px;">
        <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
        <h1>
            <span>Zmiana organizacji wydarzenia</span>
            @if (OldEventInfo.Name == null)
            {
                <span> @NewEventInfo.Name</span>
            }              
            else
            {
                <span> @OldEventInfo.Name</span>   
            }            
            @if (ReservationIds.Count() > 1)
            {
                <span> - rezerwacje nr: @ReservationIds</span>
            }
            else
            {
                <span> - rezerwacja nr @ReservationIds</span>
            }   
        </h1>
        <p>
            <span>Otrzymujesz ten e-mail w związku z zmianą organizacji wydarzenia</span>
            @if (OldEventInfo.Name == null)
            {
                <span> @NewEventInfo.Name</span>
            }
            else
            {
                <span> @OldEventInfo.Name</span>
            }
            <span> 
                na które w ostatnim czasie dokonano rezerwacji. 
                W związku z zaistniałymi zmianami w załącznikach przesyłamy
                zaktualizowaną wersję biletów dotyczących poszczególnych rezerwacji.
            </span>
           
        </p>
        <p>
            <strong>
                Poniżej znajdują się szczegółowe informacje dotyczące zmian:
            </strong>
        </p>
            
        @if(OldEventInfo.Name != null)
        {
            <p>
                <strong>Nowa nazwa wydarzenia: </strong>@NewEventInfo.Name
                <span style="font-style: italic;"> (Poprzednia nazwa: @OldEventInfo.Name)</span>
            </p>      
        }
        @if (OldEventInfo.CategoryName != null)
        {
            <p>
                <strong>Nowa kategoria wydarzenia: </strong>@NewEventInfo.Category.Name
                <span style="font-style: italic;"> (Poprzednia kategoria: @OldEventInfo.CategoryName)</span>
            </p>
        }
        @if (OldEventInfo.StartDate != null)
        {
            <p>
                <strong>Nowa data rozpoczęcia wydarzenia: </strong>@NewEventInfo.StartDate
                <span style="font-style: italic;"> (Poprzednia data rozpoczęcia: @OldEventInfo.StartDate)</span>
            </p>
        }
        @if (OldEventInfo.EndDate != null)
        {
            <p>
                <strong>Nowa data zakończenia wydarzenia: </strong>@NewEventInfo.EndDate
                <span style="font-style: italic;"> (Poprzednia data zakończenia: @OldEventInfo.EndDate)</span>
            </p>
        }
        @if (OldEventInfo.HallNr != null)
        {
            <p>
                <strong>Nowe miejsce wydarzenia: </strong> Sala nr @NewEventInfo.Hall.HallNr
                <span style="font-style: italic;"> (Poprzednie miejsce: sala nr@OldEventInfo.HallNr)</span>
            </p>
            <p>
                <strong>[UWAGA]</strong> W związku z zmianą sali w której odbywa się wydarzenie zmianie
                mogły ulec także numery zarezerwowanych miejsc i ich położenie przy czym typ miejsca pozostał bez zmian.
                Staraliśmy się jak najbardziej dopasować poprzednie usadowienie do obecnych warunków, możliwe są jednak pewne odchylenia.
            </p>
        }
        <p>
            Przepraszamy jeśli wprowadzone przez nas zmiany sprawiły utrudnienia. W przypadku chęci
            anulowania rezerwacji należy przejść do Mój profil > Rezerwacje. Zwrotu środków można spodziewać się w 
            przeciągu kilku kolejnych dni roboczych od momentu anulowania rezerwacji.
        </p>
        <p>
            Jeśli masz jakiekolwiek pytania lub potrzebujesz dalszej pomocy, prosimy o kontakt
            z nami drogą mailową: eventflow.kontakt@gmail.com.
        </p>
        <hr />
        <p style="font-size: 10px">
            Powyższy email stanowi treść poufną. Jeżeli otrzymałeś ten mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz usunięcie wiadomości.
        </p>
        <p style="font-size: 10px">
            Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
        </p>
        <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
    </div>
</body>
</html>

@code {
    [Parameter] public string ReservationIds { get; set; } = string.Empty;
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
    [Parameter] public OldEventInfo OldEventInfo { get; set; } = default!;
    [Parameter] public Event NewEventInfo { get; set; } = default!;
}
