@using EventFlowAPI.DB.Entities
@using EventFlowAPI.Logic.Helpers
<html>
    <body>
        <div style="margin-top:20px;">
            <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
            <h1>Przedłużenie karnetu EventFlow - karnet nr @EventPass.Id</h1>
            <p>Otrzymujesz ten e-mail w związku z przedłużeniem karnetu w serwisie EventFlow.</p>
            <p>
                <strong>
                    W załączniku znajduje plik PDF odnowionym karnetem.
                </strong>
            </p>
            <p>
                <strong>Podstawowe informacje o karnecie:</strong><br />
                <strong>ID karnetu:</strong> @EventPass.Id<br />
                <strong>Typ karnetu:</strong> @EventPass.PassType.Name<br />
                <strong>Data zakupu:</strong> @EventPass.StartDate.ToString(DateFormat.DateTime)<br />
                <strong>Data wygaśnięcia:</strong> @EventPass.EndDate.ToString(DateFormat.DateTime)
                <em>
                    <span>(Poprzednia data wygaśnięcia:</span>
                    @if (EventPass.PreviousEndDate is DateTime previousEndDate)
                    {
                        <span> @previousEndDate.ToString(DateFormat.DateTime);</span>
                    }
                    else
                    {
                        <span> brak</span>
                    }
                    <span>)</span>
                </em>
            <br />
            </p>
            <p>
                <strong>[UWAGA] </strong>
                Poprzedni karnet nie stracił ważności i może nadal być używany do wstępu na wydarzenia poprzez zeskanowanie kodu QR.
                W załączniku przesłano jedynie jego wersję z zaktualizowaną datą ważności oraz potwierdzeniem płatności.
            </p>
            <p>
                Karnet uprawnia do udziału we wszystkich wydarzeniach organizowanych przez EventFlow
                do momentu upływu jego terminu ważności. Karnet należy okazać w punkcie kontroli przy wejściu
                na miejsce wydarzenia.
            </p>
            <p>
                <strong>[UWAGA] </strong>
                W związku z tym, że karnety sa imienne, podczas okazywania karnetu należy posiadać przy sobie ważny
                dowód osobisty lub inny dokument potwierdzający tożsamość. W przypadku nie dosiadania owego dokumentu
                organizator ma prawo do odmówienia wstępu na wydarzenie.
            </p>
            <p>
                <strong>Nie udostępniaj karnetu osobom trzecim!</strong><br />
                Każdy karnet jest przypisany do jednej osoby i jego powielanie lub udostępnianie innym osobom jest zabronione.
                W razie prób nadużyć karnet może zostać unieważniony.
            </p>
            <p>
                Jeśli potrzebujesz pomocy skontaktuj się z nami drogą mailową:
                eventflow.kontakt@gmail.com
            </p>
            <hr />
            <p style="font-size: 10px">
                Powyższy email wraz z załącznikami stanowi treść poufną. Jeżeli otrzymałeś ten
                mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz
                usunięcie wiadomości wraz z wszystkimi załącznikami.
            </p>
            <p style="font-size: 10px">
                Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości
                prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
            </p>
            <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
        </div>
    </body>
</html>

@code {
    [Parameter] public EventPass EventPass { get; set; } = default!;
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
}
