@using EventFlowAPI.DB.Entities
@using EventFlowAPI.Logic.Helpers
<html>
<body>
    <div style="margin-top:20px;">
        <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
        <h1>Odwołanie rezerwacji sal - EventFlow</h1>
        @{
            var hall = HallRents.First().Hall;
            <p>

                Z przykrością informujemy, że twoje pewne rezerwacje sal został odwołane z powodu wycofania wynajmowanej
                sali czyli sali nr @hall.HallNr z użytku.
            </p>
        }     
        <p>
            <strong>Poniżej przedstawione zostały szczegóły dotyczące odwołanych rezerwacji sal:</strong>
        </p>
        @foreach (var hallRent in HallRents)
        {
            <p>
                <strong>ID rezerwacji:</strong> @hallRent.Id<br />
                <strong>Data rezerwacji:</strong> @hallRent.RentDate<br />
                <strong>Sala:</strong> nr @hallRent.Hall.HallNr, piętro @hallRent.Hall.Floor<br />
                <strong>Data rozpoczęcia rezerwacji:</strong> @hallRent.StartDate.ToString(DateFormat.DateTime)<br />
                <strong>Data zakończenia rezerwacji:</strong> @hallRent.EndDate.ToString(DateFormat.DateTime)<br />
            </p>
        }
        <p>
            Serdecznie przepraszamy za zaistniałą sytuację.
        </p>

        <p>
            W przypadku dokonania płatności, środki zostaną zwrócone na konto, z którego została
            zrealizowana płatność, w ciągu najbliższych kilku dni roboczych.
        </p>
        <p>
            Jeśli masz jakiekolwiek pytania lub potrzebujesz dalszej pomocy, prosimy o kontakt
            z nami drogą mailową: eventflow.kontakt@gmail.com.
        </p>
        <hr />
        <p style="font-size: 10px">
            Powyższy email stanowi treść poufną. Jeżeli otrzymałeś ten mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz usunięcie wiadomości.
        </p>
        <p style="font-size: 10px">
            Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
        </p>
        <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
    </div>
</body>
</html>

@code {
    [Parameter] public List<HallRent> HallRents { get; set; } = [];
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
}
