@using EventFlowAPI.DB.Entities
@using EventFlowAPI.Logic.Helpers
<html>
<body>
    <div style="margin-top:20px;">
        <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
        <h1>Twoja rezerwacja sali EventFlow - rezerwacja nr @HallRent.Id</h1>
        <p>Otrzymujesz ten e-mail w związku z rezerwacją sali dokonaną w serwisie EventFlow.</p>
        <p>
            <strong>
                W załączniku znajduje plik PDF z podsumowaniem rezerwacji.
            </strong>
        </p>
        <p>
            <strong>Podstawowe informacje o rezerwacji:</strong><br/>
            <strong>ID rezerwacji:</strong> @HallRent.Id<br />
            <strong>Rezerwowana sala:</strong> nr @HallRent.Hall.HallNr, piętro @HallRent.Hall.Floor<br />
            <strong>Data rozpoczęcia rezerwacji:</strong> @HallRent.StartDate.ToString(DateFormat.DateTimeFullMonth)<br />
            <strong>Data zakończenia rezerwacji:</strong> @HallRent.EndDate.ToString(DateFormat.DateTimeFullMonth)<br />
        </p>
        <p>
            Jeśli potrzebujesz pomocy skontaktuj się z nami drogą mailową:
            eventflow.kontakt@gmail.com
        </p>
        <hr />
        <p style="font-size: 10px">
            Powyższy email wraz z załącznikami stanowi treść poufną. Jeżeli otrzymałeś ten
            mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz
            usunięcie wiadomości wraz z wszystkimi załącznikami.
        </p>
        <p style="font-size: 10px">
            Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości
            prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
        </p>
        <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
    </div>
</body>
</html>

@code {
    [Parameter] public HallRent HallRent { get; set; } = default!;
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
}
