@using EventFlowAPI.DB.Entities
<html>
<body>
    <div style="margin-top:20px;">
        <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
        @{
            var hallRentIds = HallRents.Select(hr => hr.Id);
            var newHall = HallRents.First().Hall;

            <h1>Zmiany w rezerwacjach sal - rezerwacje nr: @string.Format(", ", hallRentIds)</h1>
            <p>
                Otrzymujesz ten e-mail w związku z zmianą rezerwacji sal na które w ostatnim czasie dokonano rezerwacji.
                W związku z zaistniałymi zmianami w załącznikach przesyłamy
                zaktualizowane wersje potwierdzeń zakupu z informacjami dotyczącymi rezerwacji.
            </p>
            <p>
                <strong>Poniżej znajdują się szczegółowe informacje dotyczące zmian: </strong>
            </p>
            <p>
                <strong>Numery rezerwacji: </strong>@string.Format(", ", hallRentIds)<br />
                @if (newHall.HallNr != OldHall.HallNr)
                {
                    <strong>Nowy numer sali: </strong>
                    @newHall.HallNr
                    <span style="font-style: italic;"> (Poprzedni numer sali: @OldHall.HallNr)</span>
                    <br />
                }
                @if (newHall.HallDetails!.TotalLength != OldHall.HallDetails!.TotalLength)
                {
                    <strong>Nowa długość sali: </strong>
                    @newHall.HallDetails.TotalLength
                    <span style="font-style: italic;"> (Poprzednia długość sali: @OldHall.HallDetails.TotalLength)</span>
                    <br />
                }
                @if (newHall.HallDetails!.TotalWidth != OldHall.HallDetails!.TotalWidth)
                {
                    <strong>Nowa szerokość sali: </strong>
                    @newHall.HallDetails.TotalWidth
                    <span style="font-style: italic;"> (Poprzednia szerokość sali: @OldHall.HallDetails.TotalWidth)</span>
                    <br />
                }
            </p>
        }
        <p>
            Przepraszamy jeśli wprowadzone przez nas zmiany sprawiły utrudnienia. W przypadku chęci
            anulowania rezerwacji należy przejść do Mój profil > Rezerwacje sal. Zwrotu środków można spodziewać się w
            przeciągu kilku kolejnych dni roboczych od momentu anulowania rezerwacji.
        </p>
        <p>
            Jeśli masz jakiekolwiek pytania lub potrzebujesz dalszej pomocy, prosimy o kontakt
            z nami drogą mailową: eventflow.kontakt@gmail.com.
        </p>
        <hr />
        <p style="font-size: 10px">
            Powyższy email stanowi treść poufną. Jeżeli otrzymałeś ten mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz usunięcie wiadomości.
        </p>
        <p style="font-size: 10px">
            Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
        </p>
        <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
    </div>
</body>
</html>

@code {
    [Parameter] public List<HallRent> HallRents { get; set; } = [];
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
    [Parameter] public Hall OldHall { get; set; } = default!;
}
