@using EventFlowAPI.DB.Entities
@using EventFlowAPI.Logic.Helpers
<html>
<body>
    <div style="margin-top:20px;">
        <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
        <h1>Twój bilet EventFlow - rezerwacja nr @Reservation.Id</h1>
        <p>Otrzymujesz ten e-mail w związku z rezerwacją dokonaną w serwisie EventFlow.</p>
        <p>
            <strong>
                W załączniku znajduje plik PDF z potwierdzeniem zamówienia oraz biletem.
            </strong>
        </p>
        <p>
            <strong>Podstawowe informacje o rezerwacji:</strong><br />
            <strong>ID rezerwacji:</strong> @Reservation.Id<br />
            <strong>Wydarzenie:</strong> @Reservation.Ticket.Event.Name<br />
            <strong>Gdzie?:</strong> sala nr @Reservation.Ticket.Event.Hall.HallNr, piętro @Reservation.Ticket.Event.Hall.Floor<br />
            <strong>Kiedy?:</strong> @Reservation.Ticket.Event.StartDate.ToString(DateFormat.DateTime)<br />
            <strong>Numery miejsc:</strong> @string.Join(", ", Reservation.Seats.Select(s => s.SeatNr))<br />
        </p>
        <p>
            <strong>
                [UWAGA]
            
                Bilet dołączony w załączniku PDF został przypisany do posiadanego aktywnego karnetu.
                Wstęp na wydarzenie jest możliwy po okazaniu posiadanego karnetu lub powyższego biletu. 
                Twój karnet jest dostępny w załączniku wiadomości email otrzymanej po zakupie karnetu lub na stronie EventFlow w zakładce Mój profil > Karnety.
            </strong>
        </p>
        <p>
            <strong>Nie pokazuj biletu osobom trzecim!</strong><br />
            Kod biletu jest ważny jednorazowo. Powielanie biletu traktowane jest jako próba
            oszustwa.
        </p>
        <p>
            Bilet upoważnia do jednorazowego wstępu na wydarzenie na które został wystawiony.
            Po opuszczeniu terenu wydarzenia bilet traci ważność. Wyjątkiem jest bilet
            festiwalowy, który może zostać wymieniony na opaskę wielokrotnego wstępu lub inny
            identyfikator wskazany przez organizatora.
        </p>
        <p>
            Jeśli potrzebujesz pomocy skontaktuj się z nami drogą mailową:
            eventflow.kontakt@gmail.com
        </p>
        <hr />
        <p style="font-size: 10px">
            Powyższy email wraz z załącznikami stanowi treść poufną. Jeżeli otrzymałeś ten
            mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz
            usunięcie wiadomości wraz z wszystkimi załącznikami.
        </p>
        <p style="font-size: 10px">
            Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości
            prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
        </p>
        <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
    </div>
</body>
</html>

@code {
    [Parameter] public Reservation Reservation { get; set; } = default!;
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
}
