@using EventFlowAPI.DB.Entities
@using EventFlowAPI.Logic.Helpers
<html>
<body>
    <div style="margin-top:20px;">
        <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
        <h1>Weryfikacja konta EventFlow</h1>
        <p>Witaj, <stong>@Name</stong></p>
        <p> Aby zacząć korzystać z konta EventFlow, zweryfikuj adres e-mail. </p>
        <div style="width: 100%; display:flex; flex-direction:column; justify-content:center; align-items:center">
            <a style="padding:10px, 20px,10px,20px; color: white; background-color: #7B2CBF; font-size: 18px" href="@ActivationLink">Zwerygikuj adres e-mail -></a>
        </div>
        <p>
            Alternatywnie, skorzystaj z podanego poniżej adresu URL.
        </p>
        <a href="@ActivationLink">@ActivationLink</a>
        <p>
            Łącze wygaśnie za 24 godz. Jeśli ważność tej wiadomości wygasła, poproś o wysłanie kolejnej wiadomości weryfikacyjnej.
        </p>
        <p>
            Otrzymaliśmy z Twojego adresu e-mail prośbę dotyczącą konta EventFlow. Jeśli to nie była Twoja prośba, wyślij prośbę o pomoc lub odpowiednią wiadomość e-mail na adres eventflow.kontakt@gmail.com.
        </p>
        <hr />
        <p style="font-size: 10px">
            Powyższy email stanowi treść poufną. Jeżeli otrzymałeś ten
            mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz
            usunięcie wiadomości.
        </p>
        <p style="font-size: 10px">
            Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości
            prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
        </p>
        <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
    </div>
</body>
</html>

@code {
    [Parameter] public string Name { get; set; } = default!;
    [Parameter] public string ActivationLink { get; set; } = default!;
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
}
